<!DOCTYPE html>
<html>
<head>
    <title>Delete list</title>
</head>
<body>
    <main>
        <div>
            <h1>Are you sure?</h1>
            <form method="post" action="">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </div>
    </main>
</body>
</html>
