<!DOCTYPE html>
<html>
<head>

    <title>{{ todolist.name }}</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ todolist.name }}</h1>
            <p><a href="{% url 'todo_list_update' id=todolist.id %}">Edit</a></p>
            <p><a href="{% url 'todo_list_delete' id=todolist.id %}">Delete</a></p>
            <h2>Tasks</h2>
            <table>
                <tr>
                    <th>Task</th>
                    <th>Due date</th>
                </tr>
                {% for item in items %}
                    <tr>
                        <td><a href="{% url 'todo_item_update' id=item.id %}">{{ item.task }}</a></td>
                        <td>{{ item.due_date|date:"D d M Y" }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </main>
</body>
</html>
